<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM" crossorigin="anonymous">

    <title>PettingZoo Relay</title>
</head>
<body>
    <div class="container-lg">
        <div class="row">
            <div class="col"><h1>PettingZoo Relay</h1></div>
        </div>
        {{- if ne .Description ""}}
        <div class="row">
            <div class="col">{{.Description}}</div>
        </div>
        {{- end}}
        <div class="row">
            <div class="col">
                <h2>Instance List</h2>
                <ul>
                    {{- range .InstanceList}}
                    <li>{{.}}</li>
                    {{- end}}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>